@charset "utf-8";
*
{
margin:0px;
padding:0px;
}
#topic
{
text-align:center;
font-weight:bold;
font-size:22px;
background-image:23.jpg;
font-style:marigold;
}
#menu 
{
background-color:#000000;
height:50px;
}
#menu ul
{
list-style:none;
}
#menu ul li
{
float:left;
color:white;
margin:15px;
}
#first
{
float:left;
font-weight:bold;
font-size:20px;
background-color:black;
height:500px;
width:350px;
font-color:white;
}
#third
{background-color:#000000;
height:270px;
width:1350px;
color:white;
}
#box
{
opacity:2;
}